.greeting {
    font-size: 3rem;
    margin: 2rem 0;
}

.wallpaper {
    width: 100%;
    height: 100vh;
}

header {
    height: 95%;
}

#arrow-down {
    background-color: #cf5d59;
    height: 5%;
    width: 100%;
    text-align: center;
}

.aboutme-div {
    max-width: 90%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}

.sliders {
    text-align: center;
}

.profile-pic {
    width: 20rem;
    height: auto;
    border-radius: 5%;
}

.image {
    margin: 1rem 0 2rem 0;
}

.description {
    color: rgba(0, 0, 0, 1);
    display: block;
}

.div-intro {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.div-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    color: #f3eed9;
    display: inline;
    transition: 0.5s;
}

.link:hover {
    font-size: large;
    background-color: #ff7472a2;
    color: #f3eed9;
    padding: 0 0.5rem;
    border-radius: 5%;
}


#links:hover {
    font-size: 2.2rem;
    transition: 0.5s;
    animation: ease-in-out;
}

.div-links {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-bottom: 1rem;
    flex-shrink: 1;
    text-align: center;
}

.mylinks:last-child {
    margin-bottom: 0;
}

footer {
    z-index: 2;
}




@media screen and (min-width: 768px) and (max-width: 1199px) {
    .nav-list {
        padding: 0 2rem;
        font-size: 1.3rem;
    }

    .arrow {
        padding-top: 1rem;
    }

    .profile-pic {
        width: 30rem;
        margin-bottom: 1rem;
    }

    .link-list {
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 1rem;
        margin: 1rem 0;
    }
}

@media screen and (min-width: 1200px) {

    .nav-list {
        padding: 0 3rem;
        font-size: 1.3rem;
    }

    .div-intro {
        align-items: flex-start;
        width: 50%;
        margin: 0;
        flex: 2;
    }

    .div-intro {
        flex: 2;
    }

    .aboutme-div {
        width: 80%;
        justify-content: space-around;
        flex-direction: row;
        align-items: flex-start;
    }

    .bio {
        width: 50%;
    }

    .profile-pic {
        width: 30rem;
        padding: 1rem;
    }

    .link-list {
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 1rem;
        margin: 1rem 0;
    }
}