* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

    font-family: 'Noto Serif JP', serif;
    background-color: #ff7572;
}

p {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    margin-right: 0.5rem;
    color: #f3eed9;
}

li {
    margin: 0.3rem;
}

ul {
    list-style: none;
}

hr {
    border-top: 0.1em solid #cf5d59;
    margin: 2rem 0;
}

h1 {
    padding: 1rem;
    font-family: 'Uchen', serif;
    text-align: center;
    transition: 0.5s;
    width: 100%;
    height: 6rem;
    background-color: rgba(207, 93, 89, 70%);
}

h1:hover {
    padding-top: 0.25em;
    font-size: 2.5rem;
    cursor: pointer;
    text-shadow: 2px 2px 2px lightcoral;
    ;
}

h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
    margin-top: 2rem;
}

h3 {
    color: rgba(0, 0, 0, 0.637);
}

header {
    text-decoration: none;
    height: 97vh;
    width: 100%;
    background-color: #cf5d59;

    background-image: url(./img/logo.png);
    background-repeat: repeat space;
    background-size: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

#scroll {
    background-color: #cf5d59;
    width: 100%;
    text-align: center;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #ff7572;
    z-index: 2;
}

.navbar {
    margin: 0 auto;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    z-index: 5;
}

.homepage {
    width: 2.5rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}

.nav-list {
    padding: 0 0.5rem;
}

.nav-list:hover {
    font-size: 1.15rem;
    cursor: pointer;
    text-shadow: 1px 1px 1px #cf5d59;
    transition: 0.5s;
}

span.red {
    color: #f3eed9;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.aboutme-div {
    padding: 2rem 2rem;
    width: 100%;
    max-width: 95%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}

.profile-pic {
    width: 18rem;
    height: auto;
    border-radius: 5%;
}

.description {
    color: rgba(0, 0, 0, 1);
    display: block;
}

.div-intro {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cf5d59;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.logo {
    width: 3rem;
}

.div-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


























.twitch-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gameplay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.gif {
    border-radius: 10%;
    filter: drop-shadow(0 0 0.5rem #cf5d59)
}

.link {
    color: #cf5d59;
    display: inline;
    transition: 0.5s;
}

.link:hover {
    font-size: large;
    background-color: #ff7472a2;
    color: #f3eed9;
    padding: 0 0.5rem;
    border-radius: 5%;
}


.myart {
    display: flex;
    flex-direction: column;
}

.drawings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ig {
    width: 15rem;
    height: auto;
    padding: 1rem;
    padding-top: 0;
}

#links:hover {
    color: #cf5d59;
    font-size: 1.75rem;
    transition: 0.5s;
    animation: ease-in-out;
}

.links-div {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}

.mylinks {
    margin-bottom: 1rem;
    flex-shrink: 1;
    text-align: center;
}

.mylinks:last-child {
    margin-bottom: 0;
}




@media screen and (min-width: 768px) and (max-width: 1199px) {

    .nav-list {
        padding: 0 2rem;
        font-size: 1.3rem;
    }

    .profile-pic {
        width: 30rem;
        margin-bottom: 1rem;
    }

    .gif {
        width: 25rem;
    }
}

@media screen and (min-width: 1200px) {

    .nav-list {
        padding: 0 3rem;
        font-size: 1.3rem;
    }

    article {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    .div-intro {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .bio {
        margin: 3.75rem 5rem;

    }

    .drawings {
        display: flex;
        flex-direction: ;
        flex-wrap: wrap;
        flex-shrink: 2;
    }

    .ig {
        width: 30%;
    }

    .div-ul {
        margin-bottom: 3rem;
    }

    .desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0.5rem 0;

    }

    .profile-pic {
        width: 20rem;
        margin-bottom: 1rem;
    }

    .twitch-div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .gif {
        width: 25rem;
        margin: 0 3rem;
    }


}