* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

    font-family: 'Noto Serif JP', serif;
    background-color: #ff7572;
    overflow-x: hidden;
}

p {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    margin-right: 0.5rem;
    color: #f3eed9;
}

li {
    margin: 0.3rem;
}

ul {
    list-style: none;
}

hr {
    border-top: 0.1em solid #cf5d59;
    margin: 2rem 0;
}

h1 {
    padding: 1rem;
    font-family: 'Uchen', serif;
    margin-top: 2rem;
    text-align: center;
    transition: 0.5s;
    width: 100%;
    height: 6rem;
    background-color: rgba(207, 93, 89, 70%);
}

h1:hover {
    padding-top: 0.25em;
    font-size: 2.5rem;
    cursor: pointer;
    text-shadow: 2px 2px 2px lightcoral;
    ;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}

h3 {
    color: rgba(0, 0, 0, 0.637);
}

header {
    text-decoration: none;
    width: 100%;
    height: 10%;
    background-color: #cf5d59;

    background-image: url(./img/logo.png);
    background-repeat: repeat;
    background-size: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    opacity: 0;

    width: 100%;
    height: 2.5rem;
    background-color: #ff7572;
    z-index: 2;
}

.navbar {
    margin: 0 auto;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    z-index: 5;
}

.homepage {
    width: 2.5rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}

.nav-list {
    padding: 0 0.5rem;
}

.nav-list:hover {
    font-size: 1.15rem;
    cursor: pointer;
    text-shadow: 1px 1px 1px #cf5d59;
    transition: 0.5s;
}

span.red {
    color: #f3eed9;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cf5d59;

    text-align: center;
    padding: 1rem;
    position: static;
    bottom: 0;

}

.logo {
    width: 3rem;
}